.base {
  border: 3px dotted rgb(0 0 255);
  padding: 0.5em;
}

@container (min-width: 500px) {
  .base {
    border-right-width: 6px;
    border-left-width: 6px;
  }
}

@container (min-height: 500px) {
  .base {
    border-bottom-width: 6px;
    border-top-width: 6px;
  }
}
